body{
	background-color:#0a0a0a;
	color:#ffffff;
}

h1{
	font-size: 200%;
	font-family: 'Exo 2', sans-serif;
	text-align: center;	
}

p{
	font-size: 150%;
}

.big{

	font-size:20;	
	height:150px;
        width:150px;
         border-radius:100px;
}

}
button{color:black;
	background:white;
	transition: 0.30s;
	
}
button:hover {
    color:white;
	background:black;
}

button:visited {
    color: #00FF00;
}
